.jacuni{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 250px); 
    grid-template-areas: 
    "v v v m h h h h"
    "bl bl bl b br br br br"
    "bl bl bl b br br br br"
    "bl bl bl b br br br br"
    "bl bl bl b br br br br"
    "bl bl bl b br br br br"

    ;
}