.jacuni{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7, minmax(1fr,290px));
    grid-template-rows: repeat(5, 300); 
    grid-template-areas: 
    "tl tl tl t tr tr tr"
    "v v v m tr tr tr"
    "bl bl bl b br br br"
    "bl bl bl b br br br"
    "bl bl bl b br br br "
    ;
}