body{
  padding: 32px;
  margin:16px;
}
.dropdown_konflikter-content {
  display: none;
  position: absolute;
  background-color:rgb(33, 123, 157);
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  overflow:auto;
}

.Undermeny{
  margin-bottom: 20px;
}


.dropdown_konflikter:hover .dropdown_konflikter-content {
  display: block;
}
.dropdown_konflikter{
  position: relative;
  display: inline-block;
}

.dropdown_gods-content {
  display: none;
  position: absolute;
  background-color:rgb(33, 123, 157);
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  overflow:auto;
}

.dropdown_gods:hover .dropdown_gods-content{
  display: block;
}
.dropdown_gods{
  position: relative;
  display: inline-block;
}

.dropdown_lore-content {
  display: none;
  position: absolute;
  background-color:rgb(33, 123, 157);
  min-width: 150px;
  min-height: 225px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  overflow:auto;
}

.dropdown_lore:hover .dropdown_lore-content{
  display: block;
}
.dropdown_lore{
  position: relative;
  display: inline-block;
}
.entext{
  display: inline;
}
.cursiv{
  font-style: italic;
  display: inline;
}

.fet{
  font-style: oblique;
  display: inline;
}

.jacuni{
  background:url(../img/Jacuni.jpg) ;
}

#höger{
  background-color: rgb(255, 255, 255);
  grid-area: h;
}
#vänster{
   background-color: rgb(255, 255, 255);
   grid-area: v;
}
#ovan{
   background-color: rgb(255, 255, 255);
   grid-area: t;
}

#bottom{
   background-color: rgb(255, 255, 255);
   grid-area: b;
}

#topright{
   background-color: rgb(255, 255, 255);
   grid-area:tr ;
}
#topleft{
   background-color: rgb(255, 255, 255);
   grid-area: tl;
}
#bottomleft{
   background-color: rgb(255, 255, 255);
   grid-area: bl;
}

#bottomright{
   background-color: rgb(255, 255, 255);
   grid-area: br;
}

.karta{
   background-color: rgb(255, 255, 255);
   grid-area:m;
}

.karta2{
  background-color: rgb(255, 255, 255);
  grid-area:mm;
}

.mas{
  width: 200px;
  height: 300px;
}
